<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="back">


  <div class="div-center">


    <div class="content">


      <h3>Forgot password</h3>
      <hr />
      <form id="forgotPass" action="/user/login" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Email" required name="email">
        </div>
        <button type="submit" class="btn btn-primary">Verify</button>
        <hr>
        <a href="/" class="btn btn-link">Login</a>

      </form>
      
      
    </div>


    </span>
  </div>
  <style>
    .back {
  background: #e2e2e2;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.div-center {
  width: 400px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  border-bottom: 2px solid #ccc;
  display: table;
}

div.content {
  display: table-cell;
  vertical-align: middle;
}
  </style>
  <script>
    const form = $('#forgotPass');
    const email = $('#email').val();
    form.submit(function(e){
      e.preventDefault();
        $.ajax({
        type: 'post',
        url: '/user/forgot-password',
        data: form.serialize(),
        success: function (data) {
          if(data.type == 'success'){
            toastr.success(data.message);
          }
          else{
            toastr.error(data.message);
          }
          
        },
        error: function (err) {
          
          toastr.error(err.message);
        },
      });
    });
    </script>