<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="back">


  <div class="div-center">


    <div class="content">


      <h3>Login</h3>
      <hr />
      <form  action="/user/login" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required name="email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <hr>
        <a href="/auth/google" class="btn btn-link"> Login with google </a>
        <hr />
        <div class="d-flex">
        <a href="/user/signup" class="btn btn-link">Create new account</a>
        <a href="/user/forgot-password" class="btn btn-link">Forgot password?</button>
        </div>

      </form>
      
      
    </div>


    </span>
  </div>
  <style>
    .back {
  background: #e2e2e2;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.div-center {
  width: 400px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  border-bottom: 2px solid #ccc;
  display: table;
}

div.content {
  display: table-cell;
  vertical-align: middle;
}
  </style>

<script>
  <% if(typeof msg !== 'undefined'){%>
    toastr.success("<%=msg%>");
  
  <%}%>
</script>